.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
}
Media{
  margin-top:1000px;
  padding-left:1000px;
  width: 200px;
}

/* login */

#inputup{
  margin-left: 600px;
}

#inputdown{
  padding-top: 30px;
  height: 450px;
}

#inputlogo{
  width: 100px;
  height: auto;
}

/* navbar */

#Appnav{
  margin-top: -50px;
}
  